body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
}

.login-container {
    width: 300px;
    margin: 120px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    background: #2563eb;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.navbar {
    background: #2563eb;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th {
    background: #2563eb;
    color: white;
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
}

.present {
    color: green;
    font-weight: bold;
}

.absent {
    color: red;
    font-weight: bold;
}